#################################
#
# Systemd service for the SOUK MKID readout server (pipeline 0).
#
# See also readout_server_1.service for pipeline 1.
#
# Use souk-enable-daemon / souk-disable-daemon to install or remove.
#
# Manual usage:
#   sudo systemctl start readout_server_0
#   sudo systemctl status readout_server_0
#   sudo journalctl -f -xu readout_server_0
#
###################################


[Unit]
Description=SOUK MKID Readout Server (Pipeline 0)
After=networking.service krc-utils.service
Requires=networking.service krc-utils.service

[Service]
SyslogIdentifier=readout_server_0
WorkingDirectory=/home/casper/.souk_readout_tools/pipeline_0
Environment=READOUT_SERVER_NAME=readout_daemon_0
ExecStart=/home/casper/py3.12-venv/bin/souk-readout-server -p 0
Restart=always
RestartSec=5
User=root
Environment=PYTHONUNBUFFERED=1
Nice=-20

[Install]
WantedBy=multi-user.target
